.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form_title {
    font-weight: 700;
    font-size: 1.25rem;
    color: #000;
}

.form_fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color:#000;
}

.form_checkbox input {
    width: 30px;
    height: 18px;
    border: 1.5px solid #47A138;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    position: relative;
}

.form_checkbox input:checked {
    background-color: #47A138;
    border-color: #47A138;
}

.form_checkbox input:checked::after {
    content: "✓";
    position: absolute;
    color: white;
    font-size: 1.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}