.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-medium);
    font-family: var(--principal);
}

.form_title {
    font-weight: var(--bold);
    font-size: var(--font-medium);
    color: var(--black);
}

.form_fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.form_checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-small);
    color: var(--black);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: var(--space-small);
}

.error {
    color: var(--error);
    font-size: var(--font-small);
}
