* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS: */
  --green: #47a138;
  --orange: #ff5031;
  --blue: #004d61;
  --error: #bf1313;
  --darkgray: #767676;
  --gray: #dee9ea;
  --lightgray: #f8f8f8;
  --white: #ffffff;
  --black: #000000;
  --lightblack: #2f2e41;
  --background-gradient: 180deg, rgba(0, 77, 97, 1) 0%,
    rgba(255, 255, 255, 1) 100%;

  /* SHADOW:*/
  --shadow: 0 4x 8px rgba(0, 0, 0, 0.1);

  /* SIZES: */
  --font-small: 0.812rem;
  --font-medium: 1rem;
  --font-large: 1.25rem;
  --font-extra-large: 1.562rem;
  --font-xxlarge: 1.75rem;

  /* WEIGHTS: */
  --light: 100;
  --regular: 400;
  --bold: 700;

  /* SPACES: */
  --space-extra-small: 0.25rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-extra-large: 2rem;
  --space-xxlarge: 4rem;
  --space-xxxlarge: 6rem;
}

body {
  width: auto;
  height: 100%;
  font-family: "Inter", sans-serif;
}
