.notFound{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:var(--space-medium);
    padding:var(--space-extra-large);
    margin-bottom:var(--space-extra-large);
    background: linear-gradient(var(--background-gradient));
}

.notFound_title, .notFound_text{
    text-align: center;
}

.notFound_title{
    font-size:var(--space-large);
    font-weight: var(--bold);
}

.notFound_button{
    background-color: var(--orange);
    color:var(--white);
    border: none;
    border-radius: var(--space-small);
    padding: var(--space-small) var(--space-medium);
    cursor: pointer;
    font-weight: var(--bold);
    margin-bottom: var(--space-medium);
    text-decoration: none;
}

