.footer{
    font-family: var(--principal);
    background-color: var(--black);
    color:var(--white);
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:var(--space-extra-large);
}

.container, .ultimo_container{
    width:230px;
    display:flex;
    flex-direction: column;
    gap:var(--space-medium);
}

.container h4, .ultimo_container h4{
    font-weight: var(--bold);
}

.ancora{
    color:var(--branco);
    text-decoration: none;
}

.ultimo_container{
    gap:var(--space-large);
    margin-left: var(--space-extra-large);
}

.icons{
    display:flex;
    gap:var(--space-large);
    font-size: var(--space-extra-large);
}

@media (max-width: 659px) {
    .footer{
        flex-direction: column;
        justify-content: space-around;
        gap:var(--space-extra-large);
    }

    .ultimo_container{
        margin-left: 0;
    }
}

