.container {
  font-family: var(--principal);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-medium);
  background-image: url("../../../public/images/ilustrations/background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width:690px;
  height: 582px;
}

.title{
  font-size: var(--font-extra-large);
  font-weight: var(--bold);
}

.subtitle{
  margin-bottom: var(--space-medium)
}

.card{
  display: flex;
  gap: var(--space-medium);
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}

.button_settings{
  background-color:var(--orange);
  color:var(--white);
  border:none;
  width:250px;
}

.button_block{
  background-color: transparent;
  color:var(--error);
  border: 1px solid var(--error);
  width:250px;
}