.container {
    display: flex;
    flex-direction: column;
    gap: var(--space-extra-large);
    background: linear-gradient(var(--background-gradient));
    padding: var(--space-extra-large) 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-xxlarge);
}

.content p {
    width: 434px;
    height: 205px;
    padding: var(--space-extra-large) 0;
    font-size: var(--font-xxlarge);
    font-weight: var(--bold);
}

.buttons {
    display: none;
}

@media (max-width: 1023px) {
    .content {
        flex-direction: column;
    }
}

@media (max-width: 659px) {
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        gap: var(--space-extra-large);
        padding:var(--space-medium);
    }

    .image{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 470px) {
    .content p {
        width: 334px;
    }
}