.input_form {
    position: relative;
    margin-bottom: var(--space-medium);
}

.input_form label {
    font-size: var(--font-medium);
    font-weight: var(--bold);
    color: var(--black);
}

.input_form input {
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--gray);
    border-radius: var(--space-small);
    padding: var(--space-small);
    transition: border-color 0.3s ease;
}

.input_form input.error {
    border-color: var(--error);
}

.input_form .error {
    color: var(--error);
    font-size: var(--font-small);
    margin-top: var(--space-small);
    display: block;
}
