.input_form label{
    font-size: 1rem;
    font-weight: 700;
    color:#000;
}

.input_form input{
    width:100%;
    background-color: #FFF;
    color:#000;
    border:2px solid #DEE9EA;
    border-radius: 0.5rem;
    padding: 0.5rem;
}