/* Estilos gerais */
.buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.register, .login{
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Estilos para o header */
.header .register {
    background-color: #47A138;
    color: #FFF;
    border: none;
}

.header .login {
    background-color: transparent;
    color: #47A138;
    border: 1px solid #47A138;
}

/* Estilos para o main */
.main .register {
    background-color: #000;
    color: #FFF;
    border: none;
}

.main .login {
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}

.main .login, .main .register{
    display:none;
}

/* Estilos responsivos */
@media (max-width: 669px) {
    .header .login, 
    .header .register {
        display: none;
    }
}

@media (max-width: 659px) {
    .main {
        justify-content: center;
        padding: 16px;
    }

    .main .login, .main .register{
        display:block;
    }
}
