/* Estilos gerais */
.buttons {
    display: flex;
    align-items: center;
    gap: var(--space-extra-large);
}

.register, .login{
    padding: var(--space-small) var(--space-medium);
    border-radius: var(--space-small);
    cursor: pointer;
}

/* Estilos para o header */
.header .register {
    background-color: var(--green);
    color: var(--white);
    border: none;
}

.header .login {
    background-color: transparent;
    color: var(--green);
    border: 1px solid var(--green);
}

/* Estilos para o main */
.main .register {
    background-color: var(--black);
    color: var(--white);
    border: none;
}

.main .login {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
}

.main .login, .main .register{
    display:none;
}

/* Estilos responsivos */
@media (max-width: 669px) {
    .header .login, 
    .header .register {
        display: none;
    }
}

@media (max-width: 659px) {
    .main {
        justify-content: center;
        padding: var(--space-medium);
    }

    .main .login, .main .register{
        display:block;
    }
}
