.advantages{
    width: 280px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:var(--space-medium);
}

.advantages h4{
    font-size: var(--font-large);
    font-weight: var(--bold);
    color:var(--green);
}

.advantages p{
    color:var(--darkgray);
    text-align: center;
}